/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.nri-bg {
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  position: relative;
  max-height: 800px;
}
.nri-heading {
  position: relative;
  color: black;
  font-size: 4vw;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  background-color: rgba(245, 249, 252, 0.659);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0.8;
  margin-top: -54%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding-top: 4%;
  padding-bottom: 18.8%;
  padding-left: 12%;
  padding-right: 15%;
  font-family: "Times New Roman";
}
.nri-heading span {
  color: #89cb17;
}
.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.abt-corner {
  margin-top: 5%;
  margin-bottom: 5%;
}
.corner-head span {
  font-weight: bold;
  font-style: italic;
}
.corner-head p {
  font-style: italic;
  font-size: 3vw;
  line-height: 0.9;
}
.corner-head {
  /* padding-top: 10%; */
  padding-left: 10%;
  font-family: "Times New Roman", Times, serif;
}
.corner-detail {
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.nri-contact-form {
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: "Times New Roman", Times, serif;
  border-radius: 80px;
  padding: 50px;
  margin-bottom: 5%;
}
.nri-contact-form input {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
}
input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.69);
}
input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.69);
}
input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.69);
}
input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.69);
}
input::placeholder {
  color: rgba(255, 255, 255, 0.69);
}
#comment {
  border: 1px solid white;
  width: 220px;
}
#name2,
#number2,
#email {
  width: 220px;
}
#comment-head {
  text-align: left;
  margin-left: 6%;
  margin-bottom: -0.5%;
}
.sent-btn {
  margin-top: 3%;
  border: none;
  text-align: center;
  margin-right: -52%;
  padding: 5px 20px 5px 20px;
  background-color: #88c128;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: black;
}
.nri-contact-form input:focus {
  outline: none;
}
@media screen and (max-width: 767px) {
  .nri-heading {
    display: none;
  }
  .corner-head p {
    font-style: italic;
    font-size: 20px;
    line-height: 0.9;
    padding-top: 11%;
  }
  .corner-detail {
    font-size: 15px;
    padding: 0px;
    color: rgba(0, 0, 0, 0.622);
  }
  #comment-head {
    text-align: left;
    margin-left: 7%;
  }
  .sent-btn {
    margin-top: 3%;
    text-align: center;
    margin-right: -55%;
  }
  .nri-contact-form {
    margin-bottom: 15%;
  }
}

/* For medium-sized screens */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .corner-head p {
    font-size: 20px;
    padding-top: 20%;
  }
  .nri-heading {
    padding-bottom: 18%;
  }
  .nri-heading {
    display: none;
  }
}
@media screen and (min-width: 820px) and (max-width: 1180px) and (orientation: portrait) {
  .nri-heading {
    padding-top: 12%;
    padding-bottom: 10%;
  }
  .corner-head p {
    font-size: 50px;
    padding-top: 7%;
  }
}
